name: Build and deploy JAR app to Azure Web App - nickweb1
on:
  push:
    branches: [main, dev]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '8'

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: '${{ github.workspace }}/build/libs/demo-0.0.1-SNAPSHOT.jar'

  dev-deploy:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: dev
      url: ${{ steps.deploy-dev-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Deploy to Azure Web App
        id: deploy-dev-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'nickweb1'
          slot-name: 'dev'
          publish-profile: ${{ AZURE_CREDENTIALS }}
          package: '*.jar'
  
  prod-deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production
      url: ${{ steps.deploy-prod-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Deploy to Azure Web App
        id: deploy-prod-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'nickweb1'
          slot-name: 'production'
          publish-profile: ${secrets.AZURE_CREDENTIALS}
          package: '*.jar'